body {
font: 90% "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
margin: 0;
padding: 0;
text-align: center;
color: #000;
background: url(img/bg.png) repeat-x fixed
}

.langmenu {
background: url(img/langmenu.png) no-repeat 0 bottom;
width: 94px;
height: 35px;
position: fixed;
top: 0;
right: 10px;
z-index: 1
}
.langmenu:hover {
padding-top: 6px
}
.langmenu a {
display: inline-block;
width: 22px;
height: 11px;
background-position: top;
background-repeat: no-repeat;
margin-bottom: 3px
}
.langmenu a.active,.langmenu a:hover {
height: 19px;
background-position: bottom;
margin-bottom: 0
}
.langmenu a.cz {
background-image: url(img/cza.png)
}
.langmenu a.en {
background-image: url(img/gba.png)
}
.langmenu span {
display: none
}


#container {
width: 394px;
margin: 0 auto;
text-align: left
}


#mainContent {
padding: 10px 20px;
background: url(img/main-bg.png) repeat-y;
margin: 0;
position: relative;
color: gray
}


#content {
padding: 0 8px
}
.header {
background: url(img/header.png) no-repeat -5px;
color: #e3e3e3;
height: 36px;
padding-top: 26px;
padding-left: 40px;
margin: 30px 0 0;
font-size: 16px
}
.navigation {
margin-left: -21px;
margin-right: -10px;
background: url(img/navigation.png) no-repeat;
padding: 14px 18px 18px;
margin-top: 73px
}
.navigation a {
margin-right: 30px;
margin-left: 30px;
display: inline-block;
color: white;
text-decoration: none;
padding: 4px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px
}
.info .navigation #nav-info,.portfolio .navigation #nav-portfolio,.contact .navigation #nav-contact {
background-color: gray;
border: 1px solid gray;
margin-top: -2px;
margin-right: 22px
}
.navigation a:hover {
border: 1px solid silver !important;
background-color: silver !important;
margin-top: -2px;
margin-right: 22px
}
.footer {
padding: 20px;
background: url(img/footer.png) no-repeat;
text-align: center;
color: #939393;
font: italic
}

.left {
position: absolute;
right: 11px;
top: -9px
}
.resume {
	position: absolute;
	width: 222px;
	top: -7px
}

.frame {
width: 337px;
margin-left: 5px
}
.frame .top {
background: url(img/divtop.png) no-repeat;
height: 16px;
margin-bottom: 0
}
.frame .main {
background: url(img/divmain.png) repeat-y;
padding: 0 8px 0 14px
}
.frame .bottom {
background: url(img/divbottom.png) no-repeat;
height: 16px;
margin-top: 0
}
a {
color: gray
}
a img {
border: none
}
a:hover {
text-decoration: none
}
#slidecontainer {
width: 337px;
height: 300px;
overflow: hidden;
padding: 0
}
.shifter {
position: relative;
margin: 0;
width: 1020px;
height: 280px
}
.pane {
position: relative;
margin: 0;
width: 307px;
height: 280px;
float: left;
overflow: auto;
padding: 0 15px
}
.pane p {
margin-top: 6px;
margin-bottom: 6px
}
.quicknav {
display: none;
text-align: center;
position: absolute;
bottom: 0;
width: 300px
}





/* New stuf */

/* the overlayed element */ 
div.overlay { 
     
    /* growing background image 
    background-image:url(../img/overlay/white.png); 
     */ 
    /* dimensions after the growing animation finishes  */ 
    width:980px; 
    height:62px;         
     
    /* initially overlay is hidden */ 
    display:none; 
     
    /* some padding to layout nested elements nicely   */
    padding:55px; 
} 
 
/* default close button positioned on upper right corner */ 
div.overlay div.close { 
    background-image:url(img/close.png); 
    position:absolute; 
    right:5px; 
    top:5px; 
    cursor:pointer; 
    height:35px; 
    width:35px; 
}

#photo_2 { 
    background-image:url(img/apple.png); 
    color:#fff; 
}


div.tooltip { 
    background:transparent url(img/black.png) no-repeat scroll 0 0; 
    font-size:14px; 
    height:153px; 
    padding:30px; 
    width:310px; 
    font-size:14px; 
    display:none; 
    color:#fff; 
} 
 
/* tooltip title element (h3) */ 
div.tooltip h3 { 
    margin:0; 
    font-size:18px; 
    color:#fff; 
}









/* 
	root element for the scrollable. 
	when scrolling occurs this element stays still. 
*/
div.scrollable {
	
	/* required settings */
	position:relative;
	overflow:hidden;	 	
	width: 337px;	
	height:300px;	
	
	
	background: url(img/divmain.png) repeat-y;
}

/* 
	root element for scrollable items. Must be absolutely positioned
	and it should have a super large width to accomodate scrollable items.
	it's enough that you set width and height for the root element and
	not for this element.
*/
div.scrollable div.items {	
	/* this cannot be too large */
	width:20000em;	
	position:absolute;
	clear:both;		
	
	/* decoration */
	margin-left:10px;
}

/* single scrollable item */
div.scrollable div.items div {
	float:left;
	
	/* custom decoration */
	text-align:center;
	width:307px;
	padding:25px 0px;
	margin-right: 20px;	
	-moz-border-radius:5px;
}

/* active item */
div.scrollable div.items div.active {
	border:1px inset #ccc;		
	background-color:#fff;
}

div.portnav {
	background: url(img/divmain.png) repeat-y;
	
}


/* position and dimensions of the navigator */
div.navi {
	/*padding-left:138px;*/
	width:200px;
	margin:auto;
	height:20px;
	padding-top: 10px;
	
}


/* items inside navigator */
div.navi a {
	width:8px;
	height:8px;
	float:left;
	margin:3px;
	background:url(img/navigator.png) 0 0 no-repeat;
	display:block;
	font-size:1px;
}

/* mouseover state */
div.navi a:hover {
	background-position:0 -8px;      
}

/* active state (current page state) */
div.navi a.active {
	background-position:0 -16px;     
}



/* prev, next, prevPage and nextPage buttons */
a.prev, a.next, a.prevPage, a.nextPage {
	display:block;
	width:18px;
	height:18px;
	background:url(img/left.png) no-repeat;
	float:left;
	margin:43px 10px;
	cursor:pointer;
	font-size:1px;
}

/* mouseover state */
a.prev:hover, a.next:hover, a.prevPage:hover, a.nextPage:hover {
	background-position:0px -18px;		
}

/* disabled navigational button */
a.disabled {
	visibility:hidden !important;		
}

/* next button uses another background image */
a.next, a.nextPage {
	background-image:url(img/right.png);
	clear:right;	
}
