<% reference 'flip-main-tn', 'javascript:void(0)', :style => "cursor: default" do %>
This webapp serves to show clients of a Czech training company images of flipcharts used in their training. <% end %>

<% reference 'Home', 'http://managementskol.cz' do %>
I developed this microsite for a company that is part of the European Social fund's project for educating school directors in management technique. Also features an interactive e-learning application.
<% end %>

<% reference 'Sestraved', 'http://developer.xf.cz/archive/sestravede/' do %>
A microsite for an EU project for training health workers in management and communication skills.
<% end %>

<% reference 'centrumdohody', 'http://centrumdohody.com' do %>
A Czech company that is specialized in training management, communication and teamwork skills. 
</p>
<p>
This is my longest running project and are currently preparing a redesign.
<% end %>

<% reference 'hynek-kramer', 'http://en.hynek-kramer.eu/biografie' do %>
Website for a Czech Opera singer I coded and designed. Features also a complete custom made Content Management System and multilingual support.
<% end %>