<% reference 'flip-main-tn', 'javascript:void(0)', :style => "cursor: default" do %>
Tato webová aplikace slouží k zobrazování fotek flipchartů účastníkům školení Centra Dohody. Aplikace je postavená v Ruby on Rails.
<% end %>

<% reference 'Home', 'http://managementskol.cz' do %>
Microsite a webová aplikace z oblasti e-learningu vyvinutá jako součást projektu Evropského sociálního fondu zaměřeného na vzdělávání ředitelů škol v oblasti managementu.
<% end %>

<% reference 'Sestraved', 'http://developer.xf.cz/archive/sestravede/' do %>
Microsite pro projekt EU zaměřený na školení zdravotních sester v oblasti managementu a komunikace.
<% end %>

<% reference 'centrumdohody', 'http://centrumdohody.com' do %>
Webové stránky společnosti Centrum Dohody, která se specializuje na školení v oblasti managementu, komunikace a týmové spolupráce. 
</p>
<p>
Toto je můj nejdéle aktivní projekt. V současné době připravujeme redesign.
<% end %>

<% reference 'hynek-kramer', 'http://en.hynek-kramer.eu/biografie' do %>
Webové stránky operního pěvce Lukáš Hynka-Kramera, které jsem napsal a navrhl. Stránky obsahují CMS systém s multi-jazyčnou podporou.
<% end %>